# ── App ────────────────────────────────────────────────
APP_ENV=testing

# ── Database ───────────────────────────────────────────
DATABASE_URL=postgresql+asyncpg://postgres:yourpassword@localhost:5432/bolna_webhooks

# ── Redis ──────────────────────────────────────────────
REDIS_URL=redis://localhost:6379/0

# ── Bolna ──────────────────────────────────────────────
BOLNA_API_KEY=bn-08df0b996e204566bb98325d235c2a88           # from Bolna dashboard → API Keys
BOLNA_WEBHOOK_SECRET=aae9ca559ad4e469c83a3b733a046819a7ee537599a2a1c613b83709f0c4d9c6    # any strong random string you choose
BOLNA_SENDER_IP=13.203.39.153

# ── Auth ───────────────────────────────────────────────
SECRET_KEY=32942641de1e511bed16087c775726ab729711229a754112b4da981e82d68f86              # any strong random string you choose
X_API_KEY=251c3e1189ffa8ffae57b7cf403a1f2bb85ff62247960fc673b4e0eeab4ef536               # any strong random string you choose

# ── Multi-tenant ───────────────────────────────────────
ALLOWED_TENANT_IDS=tenant_a